.header {
  @apply fixed w-full z-10 bg-white;

  .btn-register {
    @apply pointer-events-none lg:pointer-events-auto
      select-none lg:select-auto
      lg:inline-block hidden
      text-base rounded-lg;
  }

  .btn-register-mobile {
    @apply lg:pointer-events-none pointer-events-auto
      lg:select-none select-auto
      block w-full rounded-none lg:hidden;
  }

  .navicon-mobile {
    @apply w-6 h-6;

    &[data-icon="x"] {
      @apply hidden;
    }
  }

  &.active {
    .navicon-mobile[data-icon="bar"] {
      @apply hidden;
    }

    .navicon-mobile[data-icon="x"] {
      @apply inline;
    }
  }

  .mobile-menu {
    @apply items-center justify-between w-full lg:flex lg:w-auto lg:order-1
      transition-all;

    @media (max-width: 1023px) {
      &[data-collapsed="false"] {
        @apply max-h-0 overflow-hidden;
      }

      & > ul > li {
        @apply py-4 border-t border-zinc-300;

        &:last-child {
          @apply border-b mb-4;
        }
      }
    }
  }
}
