.tab-btn-wrapper {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track-piece {
    display: none !important;
    background: transparent !important;
    border-color: transparent !important;
  }
}

.tabs-button {
  @apply relative py-3 lg:px-4 px-2 text-center;

  &:focus {
    @apply outline-none;
  }

  & > span {
    @apply lg:text-[18px] text-base lg:leading-[28px] leading-5 transition-colors;
  }

  &::after {
    @apply absolute inset-x-0 bottom-0 w-full h-[3px] -mb-[1px] rounded-t-xl transition-colors;

    content: "";
  }

  &[data-active="true"] {
    span {
      @apply font-bold text-volt-800;
    }

    &::after {
      @apply bg-volt-700;
    }
  }

  &[data-active="false"] {
    span {
      @apply font-medium text-cadet-800;
    }

    &:hover,
    &:focus {
      span {
        @apply text-volt-700;
      }

      &::after {
        @apply bg-volt-600;
      }
    }
  }
}

.tabs-content {
  @apply flex lg:flex-row flex-col gap-x-10 transition-opacity;

  &[data-show="false"] {
    @apply absolute lg:top-[3.75rem] top-6 left-0 order-none -z-[1] opacity-0;
  }

  &[data-show="true"] {
    @apply relative order-1 z-0 opacity-100;
  }
}
